<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row" style="word-wrap: break-word;">
    <div class="col-sm-12">
      <h1 class="page-header">{{ 'ADMIN_TITLE' | translate }} - {{'EMAIL_DIGEST' | translate}}</h1>
    </div>

    <div class="col-sm-12">
      <mark>{{'DIGEST_EMAIL_TOOL_MESSAGE'|translate}}</mark>
    </div>

    <div class="col-sm-12">
      <br>
    </div>

    <div class="col-sm-12" ng-repeat="language in digestLanguages">
      <h2>{{language.name}}</h2>
      <form class="form-horizontal" name="form" novalidate>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="subject">{{'SUBJECT'|translate}}</label>
          <div class="col-sm-9"><input class="form-control" type="text" id="subject" ng-model="digestSubjects[language.key]"></div>
          <label class="col-sm-3 control-label" for="message">{{'CUSTOM_MESSAGE'|translate}}</label>
          <div class="col-sm-9"><textarea class="form-control" id="message" ng-model="digestOptionalMessages[language.key]" rows="5"></textarea></div>
        </div>
      </form>
    </div>

    <div class="col-sm-12 text-center">
      <button class="btn btn-primary" ng-click="sendEmailDigest()" ng-disabled="countSelected()==0">{{'SEND'|translate}}</button>
    </div>

    <div class="col-sm-12" infinite-scroll='getMorePosted()' infinite-scroll-disabled='loadingClassifieds || noMoreClassifieds' infinite-scroll-distance='0'>
      {{'SELECTED'|translate}}: <span class="text-danger">{{countSelected()}}</span> <b style="font-size:120%">/</b> {{'LOADED_ITEMS_THAT_MATCH_FILTERS_SEARCH'|translate}}: <span class="text-danger">{{filteredClassifieds.length}}</span>
      <ul class="list-group">
        <li class="list-group-item admin-tool-selection-header-background">
          <input type="checkbox" ng-model="selectAll" ng-change="toggleSelectAll()">
          <button class="btn btn-primary" ng-click="selectAllNeverSent()">{{'SELECT_ALL_NEVER_SENT'|translate}}</button>
          <small><span class="text-muted">{{'SELECT_ALL_MESSAGE'|translate}} <a ng-show="!noMoreClassifieds" ng-click="getMorePosted(0)">{{'OR'|translate}} {{'CLICK_HERE_LOAD_ALL'|translate|lowercase}}</a></span></small>
        </li>
        <li class="list-group-item" ng-repeat="classified in filteredClassifieds = (classifieds | orderBy:['-posted'] | filter:filterFunction)" ng-click="::toggleSelect($event,classified)">
          <div ng-class="{'bg-success': classifiedsSelectedForDigest[classified._id]}">
            <input id="classifiedCheckBox" type="checkbox" ng-model="classifiedsSelectedForDigest[classified._id]">
            <strong><a id="classifiedTitle" ng-href="{{::viewClassifiedUrl}}/{{::classified._id}}">{{::classified.title}}</a></strong>
            <u>{{'POSTED' | translate}}</u>: <span class="text-muted">{{classified.posted | amDateFormat:'LLLL'}}</span>
            <u>{{'LAST_SENT_IN_DIGEST' | translate}}</u>: <span class="text-muted" ng-show="!classified.emailDigests || classified.emailDigests.length==0">{{'NEVER'|translate}}</span> <span class="text-muted" ng-show="classified.emailDigests && classified.emailDigests.length>0">{{classified.emailDigests[classified.emailDigests.length-1] | amDateFormat:'LLLL'}}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-12" ng-show="loadingClassifieds"><p class="text-muted">{{'LOADING_CLASSIFIEDS' | translate}}... <i class="fa fa-spinner fa-spin"></i></p></div>
    <div class="col-sm-12 text-center"><button class="btn btn-primary" ng-disabled="noMoreClassifieds" ng-click="getMorePosted()">{{noMoreClassifieds?'END_OF_CLASSIFIEDS':'LOAD_MORE_CLASSIFIEDS' | translate}}</button></div>

  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
