<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row" style="word-wrap: break-word;">
    <div class="col-sm-12">
      <h1 class="page-header">{{ 'ADMIN_TITLE' | translate }} - {{'USER' | translate}}</h1>
    </div>

    <div class="col-sm-2 responsive-label-alignment">
      <h4 class="no-margins">{{'SELECT_FILTERS'|translate}}:</h4>
    </div>
    <div class="col-sm-10"
         isteven-multi-select
         input-model="multiSelectFiltersInputModel"
         output-model="multiSelectFiltersOutputModel"
         button-label="name"
         item-label="name"
         tick-property="ticked"
         helper-elements=""
         translation="multiSelectFiltersLangage"
         group-property="filtersGroup"
      >
    </div>
    <div class="col-sm-offset-2 col-sm-10">
      <span class="text-muted small" ng-show="multiSelectFiltersOutputModel.length==0 || multiSelectFiltersOutputModel.length==multiSelectFiltersInputModel.length-2">{{'ALL_SELECTED' | translate}}</span>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
      <div class="btn-group">
        <button ng-click="usersFiltersInclusive=false" ng-class="{'active': !usersFiltersInclusive}" class="btn btn-info btn-xs">{{'INCLUDE_ANY'|translate}} <i class="fa fa-check" ng-show="!usersFiltersInclusive"></i></button>
        <button ng-click="usersFiltersInclusive=true" ng-class="{'active': usersFiltersInclusive}" class="btn btn-info btn-xs">{{'INCLUDE_ALL'|translate}} <i class="fa fa-check" ng-show="usersFiltersInclusive"></i></button>
      </div>
    </div>

    <div class="col-sm-12">
      <hr width="75%" style="margin-top:5px; margin-bottom:5px">
    </div>

    <div class="col-sm-2 responsive-label-alignment">
      <h4 class="no-margins">{{'SEARCH' | translate}}:</h4>
    </div>
    <div class="col-sm-10">
      <div class="btn-group" style="width:250px">
        <input type="search" name="usersSearchKeywords" ng-model="usersSearchKeywords" class="form-control" placeholder="{{'SEARCH_KEYWORDS'|translate}}..." ng-model-options="{ updateOn: 'default blur', debounce: { default: 1500, blur: 0 } }">
        <span ng-click="usersSearchKeywords=''" id="searchClear" class="glyphicon glyphicon-remove-circle"></span>
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
      <p class="text-muted small">{{'ADMIN_USERS_SEARCH_MESSAGE'|translate}}</p>
    </div>

    <div class="col-sm-12" infinite-scroll='getMoreAll()' infinite-scroll-disabled='loadingUsers || noMoreUsers' infinite-scroll-distance='0'>
      {{'SELECTED'|translate}}: <span class="text-danger">{{countSelected()}}</span> <b style="font-size:120%">/</b> {{'LOADED_ITEMS_THAT_MATCH_FILTERS_SEARCH'|translate}}: <span class="text-danger">{{filteredUsers.length}}</span>
      <ul class="list-group">
        <li class="list-group-item admin-tool-selection-header-background">
          <input type="checkbox" ng-model="selectAll" ng-change="toggleSelectAll()">
          <button class="btn btn-primary" ng-click="selectAll=!selectAll; toggleSelectAll();">{{'SELECT_ALL'|translate}}</button>
          <small><span class="text-muted">{{'SELECT_ALL_MESSAGE'|translate}} <a ng-show="!noMoreUsers" ng-click="getMoreAll(0)">{{'OR'|translate}} {{'CLICK_HERE_LOAD_ALL'|translate|lowercase}}</a></span></small>
          <span uib-dropdown>
            <button ng-disabled="countSelected()==0" class="btn btn-danger" uib-dropdown-toggle>{{'ACTION_ON_ALL_SELECTED'|translate}} <span class="caret"></span></button>
            <ul uib-dropdown-menu>
              <li><a ng-click="multipleRemove()">{{'REMOVE'|translate}}</a></li>
              <li><a ng-click="multipleUpdate('APPROVED')">{{'SET_TO'|translate}}: {{'APPROVED'|translate}}</a></li>
              <li><a ng-click="multipleUpdate('NOT_APPROVED')">{{'SET_TO'|translate}}: {{'NOT_APPROVED'|translate}}</a></li>
              <li><a ng-click="multipleUpdate('VERIFIED')">{{'SET_TO'|translate}}: {{'VERIFIED'|translate}}</a></li>
              <li><a ng-click="multipleUpdate('NOT_VERIFIED')">{{'SET_TO'|translate}}: {{'NOT_VERIFIED'|translate}}</a></li>
              <li><a ng-click="multipleUpdate('EMAIL_SUBSCRIBED')">{{'SET_TO'|translate}}: {{'EMAIL_SUBSCRIBED'|translate}}</a></li>
              <li><a ng-click="multipleUpdate('NOT_EMAIL_SUBSCRIBED')">{{'SET_TO'|translate}}: {{'NOT_EMAIL_SUBSCRIBED'|translate}}</a></li>
              <li><a ng-click="multipleUpdate('ADMINISTRATOR')">{{'SET_TO'|translate}}: {{'ADMINISTRATOR'|translate}}</a></li>
              <li><a ng-click="multipleUpdate('NOT_ADMINISTRATOR')">{{'SET_TO'|translate}}: {{'NOT_ADMINISTRATOR'|translate}}</a></li>
              <li><a ng-click="exportEmails()">{{'EXPORT_EMAILS'|translate}}</a></li>
            </ul>
          </span>
        </li>
        <li class="list-group-item" ng-repeat="user in filteredUsers = (users | orderBy:['-created'] | filter:filterFunction)" ng-click="::toggleSelect($event,user)">
          <div id="userDiv" ng-class="{'bg-success': usersSelected[user._id]}">
            <input type="checkbox" ng-model="usersSelected[user._id]">
            <strong id="userLabel">{{::user.email}}</strong><br>
            <a ng-click="::expandOrCollapseUser(user._id)"><span class="text-muted">{{'IDENTIFIER'|translate}}: {{::user._id}}</span> <span class="glyphicon glyphicon-triangle-bottom small" ng-show="isCollapsed(user._id)"></span><span class="glyphicon glyphicon-triangle-top small" ng-show="!isCollapsed(user._id)"></span></a>
            <div uib-collapse="isCollapsed(user._id)">
              <div class="well well-sm">
                <div ng-show="::user.name"><b>{{'NAME'|translate}}</b>: {{::user.name}}</div>
                <div ng-show="::!user.permanent"><b>{{'REMOVE'|translate}}</b>: <a ng-click="::removeUser(user.email,user)"><span class="glyphicon glyphicon-trash salmon"></span></a></div>
                <div>
                  <b>{{'APPROVED'|translate}}</b>:
                  <div class="btn-group" ng-show="::!user.permanent">
                    <button ng-click="::setFieldValue('APPROVED','approved',true,user)" ng-disabled="user.approved" ng-class="{'active btn-success': user.approved, 'btn-default': !user.approved}" class="btn btn-xs">{{'YES'|translate}} <i class="fa fa-check" ng-show="user.approved"></i></button>
                    <button ng-click="::setFieldValue('NOT_APPROVED','approved',false,user)" ng-disabled="!user.approved" ng-class="{'active btn-success': !user.approved, 'btn-default': user.approved}" class="btn
  btn-xs">{{'NO'|translate}} <i class="fa fa-check" ng-show="!user.approved"></i></button>
                  </div>
                  <span ng-show="::user.permanent">{{::user.approved}}</span>
                </div>
                <div>
                  <b>{{'VERIFIED'|translate}}</b>:
                  <div class="btn-group" ng-show="::!user.permanent">
                    <button ng-click="::setFieldValue('VERIFIED','verified',true,user)" ng-disabled="user.verified" ng-class="{'active btn-success': user.verified, 'btn-default': !user.verified}" class="btn btn-xs">{{'YES'|translate}} <i class="fa fa-check" ng-show="user.verified"></i></button>
                    <button ng-click="::setFieldValue('NOT_VERIFIED','verified',false,user)" ng-disabled="!user.verified" ng-class="{'active btn-success': !user.verified, 'btn-default': user.verified}" class="btn btn-xs">{{'NO'|translate}} <i class="fa fa-check" ng-show="!user.verified"></i></button>
                  </div>
                  <span ng-show="::user.permanent">{{::user.verified}}</span>
                </div>
                <div>
                  <b>{{'EMAIL_SUBSCRIBED'|translate}}</b>:
                  <div class="btn-group">
                    <button ng-click="::setFieldValue('EMAIL_SUBSCRIBED','emailSubscriptions',['all'],user)" ng-disabled="user.emailSubscriptions.length>0" ng-class="{'active btn-success': user.emailSubscriptions.length>0, 'btn-default': !user.emailSubscriptions.length}" class="btn btn-xs">{{'YES'|translate}} <i class="fa fa-check" ng-show="user.emailSubscriptions.length>0"></i></button>
                    <button ng-click="::setFieldValue('NOT_EMAIL_SUBSCRIBED','emailSubscriptions',[],user)" ng-disabled="!user.emailSubscriptions.length" ng-class="{'active btn-success': !user.emailSubscriptions.length, 'btn-default': user.emailSubscriptions.length}" class="btn btn-xs">{{'NO'|translate}} <i class="fa fa-check" ng-show="!user.emailSubscriptions.length"></i></button>
                  </div>
                </div>
                <div ng-show="::user.role!='email' && !user.permanent">
                  <b ng-class="{'text-danger':user.role=='admin'}">{{'ADMINISTRATOR'|translate}}</b>:
                  <div class="btn-group">
                    <button ng-click="::setFieldValue('ADMINISTRATOR','role','admin',user)" ng-disabled="user.role=='admin'" ng-class="{'active btn-success': user.role=='admin', 'btn-default': user.role!='admin'}" class="btn btn-xs">{{'YES'|translate}} <i class="fa fa-check" ng-show="user.role=='admin'"></i></button>
                    <button ng-click="::setFieldValue('NOT_ADMINISTRATOR','role','user',user)" ng-disabled="user.role!='admin'" ng-class="{'active btn-success': user.role!='admin', 'btn-default': user.role=='admin'}" class="btn btn-xs">{{'NO'|translate}} <i class="fa fa-check" ng-show="user.role!='admin'"></i></button>
                  </div>
                </div>
                <div><b>{{'ROLE'|translate}}</b>: {{user.role}}</div>
                <div><b>{{'AUTHENTICATION_PROVIDER'|translate}}</b>: {{::user.provider}}</div>
                <div><b>{{'LANGUAGE'|translate}}</b>: {{user.language}}</div>
                <div><b>{{'CREATED'|translate}}</b>: {{::user.created | amDateFormat:'LLLL'}}</div>
                <div ng-show="user.createdIpAddress"><b>{{'CREATED_IP_ADDRESS'|translate}}</b>: {{::user.createdIpAddress}}</div>
                <div ng-show="user.permanent"><b class="text-danger">{{'PERMANENT_USER'|translate}}</b>: {{'YES'|translate}}</div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-12" ng-show="loadingUsers"><p class="text-muted">{{'LOADING_USERS' | translate}}... <i class="fa fa-spinner fa-spin"></i></p></div>
    <div class="col-sm-12 text-center"><button class="btn btn-primary" ng-disabled="noMoreUsers" ng-click="getMoreAll()">{{noMoreUsers?'END_OF_USERS':'LOAD_MORE_USERS' | translate}}</button></div>


  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
