<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">{{'RESET_PASSWORD' | translate}}</h1>
    </div>

    <div class="col-sm-12" ng-show="!userId || !resetPasswordToken">
      <form class="form" name="form" ng-submit="generateResetPasswordToken(form)" novalidate>

        <div class="form-group required" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }"
             ng-show="!success">
          <label class="control-label">Email</label>

          <input type="email" name="email" class="form-control" ng-model="email" required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            {{'INVALID_EMAIL' | translate}}
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            {{'EMAIL_REQUIRED' | translate}}
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            <span ng-bind-html="errors.server"></span>
          </p>
        </div>

        <p class="help-block" > {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit" ng-show="!success">{{'SUBMIT' | translate}}</button>

        <email-spam-message></email-spam-message>
      </form>
    </div>

    <div class="col-sm-12" ng-show="userId && resetPasswordToken">
      <form class="form" name="formReset" ng-submit="resetPassword(formReset)" novalidate>

        <div class="form-group required" ng-class="{ 'has-success': formReset.newPassword.$valid && submitted,
                                            'has-error': formReset.newPassword.$invalid && submitted }"
             ng-show="!success">
          <label class="control-label">{{'NEW_PASSWORD' | translate}}</label>

          <input type="password" name="newPassword" class="form-control" ng-model="newPassword"
                 ng-minlength="3" ng-maxlength="50"
                 required mongoose-error/>
          <p class="help-block"
             ng-show="(formReset.newPassword.$error.minlength || formReset.newPassword.$error.required) && (formReset.newPassword.$dirty || submitted)">
            {{'PASSWORD_MIN_LENGTH' | translate}}
          </p>
          <p class="help-block"
             ng-show="formReset.newPassword.$error.maxlength && (formReset.newPassword.$dirty || submitted)">
            {{'PASSWORD_MAX_LENGTH' | translate}}
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit" ng-show="!success">{{'SUBMIT' | translate}}</button>
      </form>
    </div>


  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
